
<h3>Client Profile</h3>
<div class="card card-body">
    <h4>Name</h4>
    <h5 class="light">{{user.name}}</h5>
    <br>
    <h4>My Jobs</h4>
    <br>
    {{#each jobs}}
        <button class="btn btn-light mb-2 bio-client-button"><a class="bio-client-anchor" href="http://localhost:5000/jobs/edit/{{id}}">{{title}} | {{startdate}} | {{starttime}}</a></button>
    {{/each}}
    
</div>