{{#each jobs}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <h5>Start Time</h5>
        <p>{{startdate}}</p>
        <p>{{starttime}}</p>
        <h5>Duration:</h5>
        <span>{{duration}}</span><span>hours</span>
        <h5>location</h5>
        <p>{{location}}</p>
        <p>{{details}}</p>
        <h5>Job Post By:</h5>
        <a href="users/bio-client/{{creator}}" class="btn btn-light border-dark post-taken" >{{creatorName}}</a>
        <br/>
        {{#if taker}}
            <h5>Job Taken By: </h5>
            <a href="users/bio-photo/{{taker}}" class="btn btn-light border-dark post-taken">{{takerName}}</a>
        {{else}}<h5>Job Taken By: </h5>
                <p class="btn btn-light border-dark post-taken">No taker yet</p>
        {{/if}}
        {{#if (isCreator currentUser creator)}}
        <a href="/jobs/edit/{{_id}}" class="btn btn-light border-dark btn-block mb-2">Edit</a>
        <form method="post" action="/jobs/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block mb-2">Delete</button>
        </form>
        {{/if}}
    </div>
{{else}}
    <h3 style="color:grey">No jobs listed</h3>
{{/each}}