{{#each jobs}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <h5>Job Post By:</h5>
        <h6>{{creatorName}}</h6>
        <br/>
        {{#if taker}}
            <h5>Job Taken By: </h5>
            <p class="postBy">{{taker}}</p>
        {{else}}<h5>Job Taken By: </h5>
                <p>No taker yet</p>
        {{/if}}

    <form action="/jobs/{{job._id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">        
        <button type="submit" class="btn btn-primary border-dark btn-block mb-2">Take this Job!</button>
    </form>
    </div>
{{else}}
    <h3 style="color:grey">No jobs listed</h3>
{{/each}}